/*
* Table of Contents *
1. Variables 
2. Colors
3. Mix-Ins
4. Global Styles
*/ 


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');


// * Variables * //
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// * Colors * //
$background-fill: #F4F5FF;
$sidebar-blue: #153660;
$fill-blue: #224F89;
$card-blue: #002976;
$text-color: #fff;

// ** Mix-Ins ** //
/* Define the mixin */
@mixin fluid-typography($minFont, $maxFont, $minBreakpoint, $maxBreakpoint) {
    /* Define variable for media query */
    $maxLessOne: $maxBreakpoint - 1;
  
    /* Define variable for fallback */
    $avg: ($maxFont + $minFont) / 2;
  
    /* Base font size */
    font-size: #{$minFont}px;
  
    @media (min-width: #{$minBreakpoint}px) and (max-width: #{$maxLessOne}px) {
      /* Adds a fallback for unsupported browsers */
      font-size: #{$avg}px;
  
      font-size: calc(
        #{$minFont}px + (#{$maxFont} - #{$minFont}) *
          (100vw - #{$minBreakpoint}px) / (#{$maxBreakpoint} - #{$minBreakpoint})
      );
    }
  
    @media (min-width: #{$maxBreakpoint}px) {
      font-size: #{$maxFont}px;
    }
  }
  
  // * Global Styles * //
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    @include fluid-typography(16, 25, 300, 1500);
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;    
    background-color: $background-fill;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
  }

  // * Nav Bar * //
  .navBar {
    position: fixed;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: $sidebar-blue;
    .user {
        border-bottom: 2px solid darken($sidebar-blue, 5);
        color: $text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        &__pic {
            width: 4rem;
            text-align: center;
            filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(103deg) brightness(110%) contrast(100%);
        }
        &__name {
            text-align: center;
            font-size: 1.5rem;
            font-weight: $regular;
        }
        padding: 1rem 0 2rem;
    }
    .nav {
        border-bottom: 2px solid darken($sidebar-blue, 5);
        padding: 1.5rem .5rem;
        &__link {
            padding: .2rem 0;
            color: $text-color;
            text-decoration: none;
            font-weight: $light;
            transition: .2s ease;
            font-size: .8rem;

            &_active {
                font-size: .8rem;

                color: $text-color;
                text-decoration: none;
                font-weight: $regular;
            }
        }
        &__link:hover,
        &__link:active {
            color: darken($text-color, 10);
            transition: .2s ease;
        }
        .sub {
            padding-left: .5rem;
        }
    }
    .navExtra {
        padding: 1.5rem .5rem;
        &__link {
            padding: .2rem 0;
            color: $text-color;
            text-decoration: none;
            font-weight: $light;
            transition: .2s ease;
            font-size: .8rem;

            &_active {
                font-size: .8rem;

                color: $text-color;
                text-decoration: none;
                font-weight: $regular;
            }
        }
        &__link:hover,
        &__link:active {
            color: darken($text-color, 10);
            transition: .2s ease;
        }
        .sub {
            padding-left: .5rem;
        }
    }
  }

  // * Home Page * // 
  .introMessage {
    background-color: $fill-blue;
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem 1rem 0rem;
    color: $text-color;
    &__title {
        font-weight: $medium;
        font-family: 'Roboto Condensed', sans-serif;  
        font-size: 2.5rem;  
    }
    &__message {
        margin: .5rem 0 0 .25rem;
        font-weight: $light;
        font-family: 'Roboto', sans-serif;    
        font-size: .8rem;
    }
  }

  .services {
    &__title {
        color: $card-blue;
        font-family: 'Roboto', sans-serif;  
        font-weight: $regular;
        padding-left: 2.75rem;
        font-size: 2.25rem;
        margin: 1rem 0 1rem;
    }
  }
  .serviceCards {
    .cardContainer {
        color: $text-color;
        background-color: $card-blue;
        border-radius: 1rem;
        padding: 1rem;
        height: 12rem;
        margin: 0 2.25rem;
        position: relative;
        .serviceCards {
            &__title {
                display: inline-block;
                font-size: 1rem;
                font-weight: $regular;
                margin-right: .25rem;
            }
            &__message {
                font-size: .7rem;
                font-weight: $light;
            }
            .buttonContainer {
                display: block;
                width: 80%;
            }
            &__button {
                display: inline-flex;
                overflow: hidden;
                position: absolute;
                width: 80% !important;
                text-align: center;
                cursor: pointer;
                text-decoration: none;
                background-color: transparent;
                color: $text-color;
                text-align: center;
                outline: none;
                border: 0.1rem $text-color solid;
                border-radius: 100px;
                padding: 0.2rem 0.75rem;
                align-items: center;
                justify-content: center;
                transition: background-color 200ms ease, color 200ms ease;
                bottom: 0;
                margin-bottom: .5rem;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &__button:hover,
            &__button:focus {
                background-color: $text-color;
                color: $card-blue;
                transition: background-color 250ms ease, color 250ms ease;
            }
        }
    }
  }

  // ** Logo Page ** //
  .logoTextContainer {
    padding-left: 2.5rem;
    padding-top: 1rem;
    &__text {
        color: $card-blue;
        font-family: 'Roboto', sans-serif;  
        font-weight: $regular;
        font-size: 1.5rem;
        margin: 1rem 0 1rem;
    }
    &__input {
        font-family: 'Roboto', sans-serif;  
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        margin-left: 2.75rem;
        padding: 0.3rem 0.75rem;
        background: rgba(0, 0, 0, 0);
        border: 3px solid $card-blue;
        outline: none;
    }
    &__glass {
        cursor: pointer;
        margin-left: .5rem;
        width: 1.5rem;
    }
    &__img {
        width: 80%;
        filter: invert(12%) sepia(28%) saturate(7499%) hue-rotate(213deg) brightness(96%) contrast(106%);
    }
  }

  // ** Name Generator Page ** //
.nameContainer {
    background-color: $fill-blue;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    color: $text-color;
    &__title {
        font-family: 'Roboto', sans-serif;  
        font-weight: $regular;
        padding-bottom: 1rem;
    }
}

// ** Resources ** //
.articles {
    font-family: 'Roboto', sans-serif;  
    font-weight: $regular;
    background-color: lighten($fill-blue, 10);
    color: $text-color;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    &__title {
        font-size: 1.25rem;
    }
    &__length {
        font-size: .6rem;
        font-weight: $light;
    }
    &__preview {
        font-size: .8rem;
        font-style: italic;
        font-weight: $regular;
        margin: 0;
        color: darken($text-color, 10);
    }
}

.indent {
    text-indent: 500px !important;
}